body {
  margin: 0px;
  padding: 0px;
  box-sizing: 0;
}

img {
  width: 15vw;
  height: 25vh;
  /* padding: 20px; */
  margin: 10px;
  margin-top: 40px;
  border-radius: 35px;
  box-shadow: 5px 4px 10px #8cf2;
  justify-content: center;
}
