body {
  margin: 0px;
  padding: 0px;
  box-sizing: 0;
}

img {
  border-radius: 35px;
  box-shadow: 5px 4px 10px #8cf2;
  height: 150px;
  justify-content: center;
  margin: 5px 10px 10px;
  width: 130px;
  border: black solid 1px;
}
